@font-face{
	font-family: CustomGotham;
	src: url(GothamBold.woff);
	font-weight: normal;
}

@font-face{
	font-family: MediumGotham;
	src: url(Gotham-Medium.woff);
	font-weight: normal;
}

.page {
	width: 90%;
	margin-left: 5%;
}

.subscript {
    /* This places the paragraph in the center and makes it white. */
    text-align: center;
    color: white;
	width: 100%;
	font-family: "CustomGotham";
	font-size: 16px;
	text-shadow: 0px 0px 10px black;
}

.paragraph, .paragraph_left, .bulletpoint_left, .numberedlist_left {
    /* This places the paragraph in the center and makes it white. */
    text-align: center;
    color: white;
	font-family: "MediumGotham";
	font-size: 3vmin;
	font-weight: normal;
	
	margin-left: 2.5%;
	margin-right: 2.5%;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	display: block;
	overflow: auto;
	text-overflow: scroll;
	word-wrap: break-word;
}

.paragraph_left, .bulletpoint_left, .numberedlist_left {
	padding-top: 10px;
	display: block;
	text-align: left;
}

.numberedlist_left {
	display: block;
	padding-left: 5%;
}





/* HYPERLINK YELLOW */
.hyperlink, .hyperlink_blue, .hyperlink_green {
    color: rgb(255,255,0);
	font-family: "MediumGotham";
	font-size: 3vmin;
}

.hyperlink:hover {
	background-color: rgba(255,255,0,0.5);
}
/* HYPERLINK BLUE */
.hyperlink_blue {
	color: rgb(0,0,255);
}

.hyperlink_blue:hover {
	background-color: rgba(0,0,255,0.5);
}
/* HYPERLINK GREEN */
.hyperlink_green {
	color: rgb(0, 255, 0);
}

.hyperlink_green:hover {
	background-color: rgba(0, 255, 0,0.5);
}





.NAVIGATION_BUTTON {
	width: 40%;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

body {
    background-image: url(BACKGROUND1.png);
    padding:0;
    margin:0;
}

html {
  scroll-behavior: smooth;
}

header {
	width: 100%;
	height: 100px;
	background-color:rgb(255, 106, 0);
	border-bottom: solid 4px white;
	box-shadow: 0px 60px 50px black;
	
	text-align: center;
}

.tablink {
  background-color: rgb(0, 149, 255);
  font-family: "CustomGotham";
  text-align: center;
  color: white;
  float: left;
  border-bottom: solid 4px white;
  cursor: pointer;
  font-size: 15px;
  width: 33.33%;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  margin-bottom: 2.5%;
}

.no_js_tablink {
  background-color: rgb(0, 149, 255);
  font-family: "CustomGotham";
  text-align: center;
  color: white;
  float: left;
  border-bottom: solid 4px white;
  cursor: pointer;
  font-size: 15px;
  width: 33.33%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  margin-bottom: 2.5%;
}


footer {
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "MediumGotham";
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	
	width: 100%;
	height: 100%;
	background-color:rgb(17,86,149);
	float: bottom;
}

.logo {
	padding-top: 0.2%;
	height:90%;
	width: auto;
	
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.image_emoticon {
	width: 32px;
	height: 32px;
	margin-top: 3px;
	
	vertical-align: top;
}

.gif {
	width: 20%;
	height: auto;
}

.orange_heading {
	padding: 10px 10px;
	text-align: center;
	font-size: 50px;
	font-family: "CustomGotham";
	font-weight: bold;
	color: rgb(255, 106, 0);
	/* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
	text-shadow: 0px 0px 15px black;
	margin-top: 50px;
}

.page_name, .page_name_left {
	height: 100%;
	width:95%;
	border-bottom: solid 4px white;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 10px 10px -10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	text-align: center;
	font-size: 2.5vw;
	font-family: "CustomGotham";
	font-weight: bold;
	color: white;
	
	padding-bottom: 10px;
}

.page_name_left {
	text-align: left;
}

.white_heading {
	width: 100%;
	font-size: 3vw;
	font-family: "CustomGotham";
	text-shadow: 0px 0px 1vw black;
	color: white;
	line-height: 4vw;
	margin-top: 1%;
	margin-bottom: 1%;
}

iframe {
	padding-top: 10px;
	padding-bottom: 10px;
	
    width: 35.56vw;
    height: 20vw; /* 100/56.25 = 560/315 = 1.778 */
	border-radius: 25px;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	outline: none;
}

.mediaBox, .SmallMediaBox, .BigMediaBox, .tinyMediaBox {
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 32px;
	font-family: "CustomGotham";
	color: white;
	
	overflow: auto;
	word-wrap: break-word;
	width: 65%;
	height: 100%;
	background-color: rgb(255, 106, 0);
	border: solid 4px white;
	border-radius: 25px;
	box-shadow: 0px 0px 30px 1px black;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.BigMediaBox {
	width: 98%;
}

.SmallMediaBox {
	width:40%;
	height: auto;
	min-height: 100%;
	background-color: rgb(17,86,149);
	
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
}

.container{
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#Charts {
	background-color: rgba(0,0,0,0.35)
}


/* Article Classes */

.article_img_container {
	width: 18vw;
	height: 18vw;
	border-radius: 20px;
	
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
	background-color: rgba(25,25,25,0.1);
	
	display: block;
	float: left;
}

.article_nav {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: rgba(25,25,25,0.1);
	width: 100%;
	display: table;
	
	font-family: "CustomGotham";
	font-size: 32px;
	text-align: center;
	color: white;
	padding-bottom: 20px;
	border-collapse: separate;
    border-spacing: 5px;
	border-radius: 20px;
}

.article_nav_button {
	font-family: "CustomGotham";
	width: 18%;
	text-align: center;
	font-size: 16px;
	color: white;
	background-color: rgba(25,25,25,0.35);
	border: solid 3px rgba(255,255,255,0.35);
	border-radius: 20px;
	padding: 10px 0px 10px 0px;
	display: inline-block;
}

.article_nav_button:hover {
	background-color: rgba(25,255,255,0.35);
	box-shadow: 0px 0px 5px rgba(255,255,255,0.35);
}

.article_title, .doubler_title {
	margin-bottom: 2.5%;
	margin-top: 0%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	
	color: white;
	border-radius: 20px;
	
	width: 73%;
	font-family: "CustomGotham";
	font-size: 5.5vmin;
	text-shadow: 0px 0px 1vw black;
	
	float: left;
}

.article_text {
	text-align: left;
    color: white;
	font-family: "MediumGotham";
	font-size: 3vmin;
	
	margin-left: 2%;
	margin-right: 2%;
	padding-left: 0.5%;
}

.article_container{
	height: 100%;
	width: 100%;
	min-height: 100%;
	
	display: inline-block;
	border-radius: 20px;
	text-align: auto;
	
	margin-bottom: 30px;
}

/* Link Box Classes */

.link_box, .link_box_big, .link_box_verified, .link_box_offline {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	margin-bottom: 4%;
	
	width: 38vw;
	height: 9.5vw;
	border-radius: 20px;
	border: solid 0.5vw rgba(25,25,25,0.4);
	background-color: rgba(25,25,25,0.25);
	
	overflow: auto;
}

.link_box_big {
	width: 52vw;
	height: 13vw;
}

.link_box_verified {
	border: solid 0.5vw rgba(0,255,0,0.4);
	background-color: rgba(0,255,0,0.4);
}

.link_box_offline {
	border: solid 0.5vw rgba(255,0,0,0.4);
	background-color: rgba(255,0,0,0.4);
}

.link_description_box {
	width: 70%;
	height: 80%;
	background-color: ;
	
	border-radius: 20px;
	
	float: right;
	margin-top: 2.5%;
	margin-right: 2.5%;
}

.link_description {
	text-align: left;
	color: rgba(255,255,255,0.75);
	font-size: 1.3vw;
	font-family: "CustomGotham";
	
	display: block;
	margin-left: 3%;
}

.link_description::before {
	text-align: left;
	content: '\00B7';
}

.link_title {
	text-align: left;
	border-radius: 20px;
	
	color: rgba(255,255,255, .8);
	font-size: 1.8vw;
	font-family: "MediumGotham";
	text-decoration: underline;
	
	display: block;
	padding-bottom: 1%;
	margin-bottom: 4%;
}

.subject_img{
	width: auto;
	height: 90%;
	margin-top: 5%;
	margin-left: 5%;
	
	display: inline;
}

.img_container {
	width: 20%;
	height: 80%;
	border-radius: 20px;
	
	margin-top: 2.5%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2.5%;
	
	background-color: rgba(25,25,25,0.25);
	
	display: block;
	float: left;
}


/* Hamburger Menu Classes */

.hamburger_menu {
	display: none;
    vertical-align: top;
	
	overflow: hidden;
	position: fixed;
	width: 40%;
	height: 100vh;
	background-color: rgb(255, 106, 0);
}

.hamburger_menu_button {
	width: 100%;
	height: auto;
	background-color: rgb(255, 96, 0);
	display: block;
	
	color: rgb(255, 156, 0);
	font-family: "CustomGotham";
	font-size: calc(12px + 2vw);
	text-decoration: none;
	
	text-align: left;
	cursor: pointer;
	
	border: none;
	outline: none;
	
	padding-left: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.exit_button {
	position: relative;
	width: auto;
	height: calc(12px + 3vw);
	border-radius: 0.2cm;
	
	cursor: pointer;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: auto;
	display: block;
}

.hamburger_button {
	position: relative;
	width: auto;
	height: 50%;
	border-radius: 0.2cm;
	
	top: 50%;
	margin: 0;
	
	margin-left: 2%;
	margin-right: 2%;
	
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
	cursor: pointer;
	display: block;
}

/* Table Classes */

table {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: solid 4px black;
  border-top: solid 0px white;
  background-color: white;
  border-collapse: separate !important;
  width: 40%;
  max-width: 40%;
  vertical-align: top;

  display: inline-table;
}

td, th {
  color: black;
  font-size: 16px;
  font-family: "MediumGotham";
  text-align: left;
  padding: 8px;
}

.table_name {
  color: black;
  font-size: 28px;
  font-family: "CustomGotham";
  
  border: solid 4px black;
  border-bottom: solid 0px rgba(0,0,0,0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.column_name {
  text-decoration: underline;
}

tr {
  display: table-row;
  border-radius: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
}


/* Doubler Classes */

.doubler {
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	
	background-color: rgba(0, 0, 0, 0.25);
	margin-top: 50px;
}

.doubler_child {
	width: 50%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.125);
	display: block;
	float: right;
	
	justify-content: center;
	align-items: center;
	
	text-align: center;
	font-size: 25px;
	word-wrap: break-word;
}

.doubler_container {
	width: 50%;
	height: 100%;
	float: left;
	
	text-align: center;
}

.doubler_title {
	margin-top: 5%;
	width: 100%;
	text-align: center;
}

.doubler_img {
	width: 40%;
	height: auto;
	border-radius: 40px;
}

.loading {
  border: 16px solid rgb(255, 106, 0);
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.75s linear infinite; /* Safari */
  animation: spin 0.75s linear infinite;
  
  margin-top: 10%;
  margin-bottom: 50%;
}